<!DOCTYPE html>
<html lang="en">
{% extends 'products/index.html' %}

{% block content %}
<main>
    {% if not product_quantity %}
        <h1>Your bucket is empty</h1>
    {% else %}
        <div>
            <h5>Your bucket:</h5>
        </div>
        <table class="table">
          <thead class="text-center mb-4">
            <tr>
              <th scope="col">    </th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">        </th>
              <th scope="col">Total price</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" >
            {% for product in bucket_products %}
                <tr class="text-center mb-4">
                  <th scope="row">
                      {% for img in product.get_images %}
                        {% if img.title_image %}
                            <div class="image">
                                <img src={{img.image.url}} width="80">
                            </div>
                        {% endif %}
                      {% endfor %}
                  </th>
                  <td>{{ product.title }}</td>
                  <td>{{ product.price }} ₴</td>
                  <td>
                      <a href="/less_to_bucket/{{ product.pk }}"><strong><</strong></a>
                      {% for prod, quan in product_quantity.items %}
                        {% if prod == product.id %}
                            {{ quan }}
                        {% endif %}
                      {% endfor %}
                      <a href="/more_to_bucket/{{ product.pk }}"><strong>></strong></a>
                  </td>
                  <td><a href="/remove_from_bucket/{{ product.pk }}" class="btn btn-warning">Remove from bucket</a></td>
                  <td>Price * quantity</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      <a href="#" class="btn btn-danger">Clear bucket</a>
      <a href="#" class="btn btn-success">Make offer</a>
    {% endif %}
</main>
{% endblock %}