{% extends 'products/index.html' %}

{% block content %}
<main>
    <h3>Фильтры</h3>


    <div class="container">


      <div class="row">
        <div class="col-3">
            <p>Groups * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>
            <p>Groups * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>
            <p>Groups * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>
            <p>Groups * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>
            <p>Groups * * * * * * * * * * * * * * * * * * * * * * * * * * *</p>

        </div>
        <div class="col-9">

            <div style="height: 50px;">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>


            {% include '../includes/breadcrumb.html' %}



            <div class=”col-xs-9” id=”product-content”>
            <section class="text-center mb-4">
                <div class="row wow fadeIn">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-2 nb-3">
                            <div class="card">
                                <div class="view overlay">
                                    <div class="image">
                                        <img src={{product.get_title_image.image.url}} width="150">
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="/product_detail/{{ product.id }}" class="grey-text">
                                        <h6>{{ product.title }}</h6>
                                    </a>
                                    <a>
                                        <h6>{{ product.average_rating }}/5</h6>
                                    </a>
                                    {% if product.is_sale %}
                                        <h6>
                                            <strike>
                                                {{ product.price }} ₴
                                            </strike>
                                        </h6>
                                    {% endif %}
                                    <h6>
                                        <strong>
                                            <a href="#" class="dark-grey-text">{{ product.get_price }} ₴</a>
                                        </strong>
                                    </h6>
                                    <h6 class="font-weight-bold blue-text">
                                        <strong>
                                            Кнопка добавить в корзину и быстрый заказ
                                        </strong>
                                    </h6>
                                        <a href="/add_to_bucket/{{ product.id }}" class="btn btn-success">Add to bucket</a>
                                    <hr>
                                    <h6 class="font-weight-bold blue-text">
                                        <strong>
                                            Добавить звездный рейтинг
                                        </strong>
                                    </h6>
                                    <a> Добавить количество что добавляется в корзину</a>
                                    <a> Информация о наличии</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>

            </div>


            <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

        </div>
      </div>

    </div>
</main>
{% endblock %}