{% extends 'products/index.html' %}

{% block content %}
<main>
    <div class="container">


        <div class="row">
            <div class="col-3">

                <div class="accordion" id="accordionPanelsStayOpenExample">
                    {% for category in categories %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                <a href="/?category={{ category.id }}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}"><strong>
                                    <h4>{{ category.name }}</h4>
                                </strong></a>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            {% for type in category.get_type %}
                            <div class="accordion-body">
                                <a href="/?type={{ type.id }}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}">
                                    <h6>{{ type.name }}</h6></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col-9">

                <div style="height: 50px;">

                    <form class="d-flex" action="/">
                        <div>
                            <input class="form-control me-2" type="search" value="{{ request.GET.search }}"
                                   placeholder="Search" aria-label="Search"
                                   name="search">

                            Sorting by
                            <select name="sorting" id="">
                                {% for option in sorting_options %}
                                <option value="{{ option }}" {% if option == request.GET.sorting %} selected {% endif %}>
                                    {{ option }}
                                </option>
                                {% endfor %}
                            </select>

                            {% if request.GET.category %}
                            <input type="hidden" name="category" value="{{ request.GET.category }}">
                            {% endif %}

                            {% if request.GET.type %}
                            <input type="hidden" name="type" value="{{ request.GET.type }}">
                            {% endif %}

                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>

                </div>

                <div>
                    {% include '../includes/breadcrumb.html' %}
                </div>

                <div class=”col-xs-9” id=”product-content”>
                    <section class="text-center mb-4">
                        <div class="row wow fadeIn">
                            {% for product in products %}
                            <div class="col-lg-4 col-md-2 nb-3">
                                <div class="card">
                                    <div class="view overlay">
                                        <div class="image">
                                            <img src={{product.get_title_image.image.url}} height="200">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card-body text-center">
                                        <a href="/product_detail/{{ product.id }}" class="grey-text">
                                            <h6>{{ product.title }}</h6>
                                        </a>
                                        <a>
                                            <h6>{{ product.average_rating }}/5</h6>
                                        </a>
                                        {% if product.get_available_status == "not_in_stock" %}
                                        <strong><h5 style="color:grey"> Not in stock... =( </h5></strong>
                                        {% elif product.get_available_status == "running_out" %}
                                        <strong><h5 style="color:orange"> Running low </h5></strong>
                                        {% else %}
                                        <strong><h5 style="color:green"> In stock </h5></strong>
                                        {% endif %}
                                        {% if product.is_sale %}
                                        <h6 style="color:red">
                                            <strike>
                                                {{ product.price }} ₴
                                            </strike>
                                        </h6>
                                        {% else %}
                                        <h6 style="color:white">
                                            Easter Egg
                                        </h6>
                                        {% endif %}
                                        <h6>
                                            <strong>
                                                <a href="#" class="dark-grey-text">{{ product.get_price }} ₴</a>
                                            </strong>
                                        </h6>
                                        <a href="/add_to_bucket/{{ product.id }}" class="btn btn-success">Add to
                                            bucket</a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for product in out_of_stock %}
                            <div class="col-lg-4 col-md-2 nb-3">
                                <div class="card">
                                    <div class="view overlay">
                                        <div class="image">
                                            <img src={{product.get_title_image.image.url}} height="200">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card-body text-center">
                                        <a href="/product_detail/{{ product.id }}" class="grey-text">
                                            <h6>{{ product.title }}</h6>
                                        </a>
                                        <a>
                                            <h6>{{ product.average_rating }}/5</h6>
                                        </a>
                                        {% if product.get_available_status == "not_in_stock" %}
                                        <strong><h5 style="color:grey"> Not in stock... =( </h5></strong>
                                        {% elif product.get_available_status == "running_out" %}
                                        <strong><h5 style="color:orange"> Running low </h5></strong>
                                        {% else %}
                                        <strong><h5 style="color:green"> In stock </h5></strong>
                                        {% endif %}
                                        {% if product.is_sale %}
                                        <h6>
                                            <strike>
                                                {{ product.price }} ₴
                                            </strike>
                                        </h6>
                                        {% else %}
                                        <h6 style="color:white">
                                            Easter Egg
                                        </h6>
                                        {% endif %}
                                        <h6>
                                            <strong>
                                                <a href="#" class="dark-grey-text">{{ product.get_price }} ₴</a>
                                            </strong>
                                        </h6>
                                        <a href="/add_to_bucket/{{ product.id }}" class="btn btn-success">Add to
                                            bucket</a>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </section>

                </div>


                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">2</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>
</main>
{% endblock %}