{% extends 'products/index.html' %}

{% block content %}
{% include '../includes/breadcrumb.html' %}

<div class="container">
    <h1>{{ product.title }}</h1>
    {% for image in images %}

            {% if image.title_image %}
                <div class="image">
                    <img src={{image.image.url}} width="300">
                </div>
            {% else %}
                <div class="image-inline">
                    <img src={{image.image.url}} width="100">
                </div>
            {% endif %}

    {% endfor %}
    <a href="/add_to_bucket/{{ product.id }}" class="btn btn-success">Add to bucket</a>
    <hr>
    <p>{{ product.description }}</p>
</div>
{% endblock %}