{% extends 'products/index.html' %}

{% block content %}
{% include '../includes/breadcrumb.html' %}

<div class="container">
    <h1>{{ product.title }}</h1>
    {% for image in images %}

            {% if image.title_image %}
                <div class="image">
                    <img src={{image.image.url}} width="300">
                </div>
            {% else %}
                <div class="image-inline">
                    <img src={{image.image.url}} width="100">
                </div>
            {% endif %}

    {% endfor %}
    <a>
        <h6>Rating: {{ product.average_rating }}/5</h6>
    </a>
    <a>
    {% if request.user.is_authenticated %}
        <form action="set_rating/">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="inlineRadio1" value="1">
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="inlineRadio2" value="2">
              <label class="form-check-label" for="inlineRadio1">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="inlineRadio3" value="3">
              <label class="form-check-label" for="inlineRadio1">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="inlineRadio4" value="4">
              <label class="form-check-label" for="inlineRadio1">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="rate" id="inlineRadio5" value="5">
              <label class="form-check-label" for="inlineRadio1">5</label>
            </div>
            <button>Set rating</button>
        </form>



    {% endif %}
    </a>
    <div>
        {% if product.get_available_status == "not_in_stock" %}
            <strong><h5 style="color:grey"> Not in stock... =( </h5></strong>
        {% elif product.get_available_status == "running_out" %}
            <strong><h5 style="color:orange"> Running low </h5></strong>
        {% else %}
            <strong><h5 style="color:green"> In stock </h5></strong>
        {% endif %}
    </div>
    <hr>
    {% if product.is_sale %}
        <h4 style="color:red">
            <strike>
                {{ product.price }} ₴
            </strike>
        </h4>
    {% endif %}
    <h4>
        <strong>
            <a href="#" class="dark-grey-text">{{ product.get_price }} ₴</a>
        </strong>
    </h4>
    {% if product.get_available_status != "not_in_stock" %}
        <a href="/add_to_bucket/{{ product.id }}" class="btn btn-success">Add to bucket</a>
    {% endif %}
    <hr>
    <p>{{ product.description }}</p>
    {% if request.user.is_authenticated %}
        <hr>
        <form action="leave_a_comment/">
            <textarea name="comment" id="" cols="100" rows="5"></textarea>
            <button>Submit</button>
        </form>
    {% endif %}
    <h6>Comments:</h6>

    {% for comment in product.get_comments %}
        <hr>
        <h5><div style="color:grey">Author:</div> {{ comment.author.username }}</h5><br>
    <div style="color:grey">{{ comment.published_date }}</div><br>
        {{ comment.comment }}<br>
    {% endfor %}


</div>
{% endblock %}