<!DOCTYPE html>
<html lang="en">
{% extends 'products/index.html' %}

{% block content %}
<main>
        <div>
            <h4>History of your orders:</h4>
        </div>
        <table class="table">
          <thead class="text-center mb-4">
            <tr>
              <th scope="col">№</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Products</th>
              <th scope="col">Receiver information</th>
            </tr>
          </thead>
          <tbody class="table-group-divider" >
            {% for order in orders %}
                <tr class="text-center mb-4">
                  <th scope="row">
                    <h6>{{ forloop.counter }}</h6>
                  </th>
                  <td>
                      {% if order.order_date %}
                        <h6>{{ order.order_date }}</h6>
                      {% else %}
                        <h6>-</h6>
                      {% endif %}
                  </td>
                  <td><h6>{{ order.status }}</h6></td>
                  <td>
                      {% for product, quantity in order.get_products_and_quantity.items %}
                        <ul><h6>{{ product.title }} - {{ quantity }} {% if quantity == 1 %} unit {% else %} units {% endif %}</h6></ul>
                      {% endfor %}
                  </td>
                  <td>
                      <h6>Fool name - {{ order.first_name }} {{ order.middle_name }} {{ order.last_name }}</h6>
                      <h6>Contact information: {{ order.email }}, {{ order.phone_number }}</h6>
                      <h6>Delivery option - {{ order.delivery_option }}</h6>
                      {% if order.delivery_option == order.STORE_COURIER %}
                        <h6>Delivery address: {{ order.destination_region }}, {{ order.destination_country }}, {{ order.destination_street }}, {{ order.destination_house }} {{ order.destination_apartment }}</h6>
                      {% elif order.delivery_option == order.PICKUP %}
                        <h6> Some shop address </h6>
                      {% else %}
                        <h6>Delivery address: {{ order.destination_region }}, {{ order.destination_country }}, delivery office №{{ order.destination_delivery_service }}.</h6>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

</main>
{% endblock %}